<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'main' %>
  <title></title>
</head>
<body>
  <header>
  <h1 id="main_logo">il Padrino's Recipes</h1>
    <nav>
      <ul>
        <li class="nav_item">
          <%= link_to "Recipes", url_for(:recipes, :index) %>
        </li>
        <li class="nav_item">
          <%= link_to "Chefs", url_for(:chefs, :index) %>
        </li>
      </ul>
    </nav>
  </header>
  <div id="main">
    <%= yield %>
  </div>
  <div id="tag_select">
    <%= partial '/tags/tag_list' %>    
  </div>
</body>
</html>